services:
  db:
    image: postgres:16.3-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: boxfit
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
